<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="@pluginId@" version="@pluginVersion@" name="@pluginName@"/>
    <description>@pluginDescription@</description>
    <tag>@plugintags@</tag>
  </header>

  <!-- Define each Step the plugin with define -->
  <step-type name="step1">
    <description>
      Textual description of step1
    </description>
    <!--
     Define what we will prompt the user for.
    -->
    <properties>
      <property name="property_name" required="true">
         <property-ui type="textBox" label="Property Name"
             description="The property you want to pass in."
             default-value="42"/>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put("Status", "Failure");
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>
    <!--
     The command to run.
    -->
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="parameters_passed_to_tool"/>
      <arg file="step1.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <!--
  <step-type name="step2">
   ...
  </step-type>
  -->
</plugin>
